
google-generativeai
flask
flask-cors


# Core dependencies
webdriver-manager>=3.8.6
beautifulsoup4>=4.12.2
python-dotenv==1.0.1
requests>=2.31.0
playwright
lxml


# For date handling
python-dateutil>=2.8.2